@model PostCategoryVM
@{
    ViewData["Title"] = "Update";
}
<div class="row">
    <div class="col-md-12">
        <div class="grid simple">
            <div class="grid-title no-border">
                <h4>Input <span class="semi-bold">Helpers</span></h4>
                <div class="tools">
                    <a href="javascript:;" class="collapse"></a>
                    <a href="#grid-config" data-toggle="modal" class="config"></a>
                    <a href="javascript:;" class="reload"></a>
                    <a href="javascript:;" class="remove"></a>
                </div>
            </div>
            <div class="grid-body no-border">
                <form enctype="multipart/form-data" method="post">
                    <div asp-validation-summary="ModelOnly"></div>
                    <input type="hidden" asp-for="Post.Id" />
                    <div class="mb-3">
                        <label asp-for="Post.Title">Title</label>
                        <input asp-for="Post.Title" class="form-control" />
                        <span asp-validation-for="Post.Title"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Post.Details">Details</label>
                        <input asp-for="Post.Details" class="form-control" />
                        <span asp-validation-for="Post.Details"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Post.ByWhom">Author</label>
                        <input asp-for="Post.ByWhom" class="form-control" />
                        <span asp-validation-for="Post.ByWhom"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Post.Photo">Image</label>
                        <input asp-for="Post.Photo" class="form-control" accept="image/*" />
                        <span asp-validation-for="Post.Photo"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Category">Category</label>
                        <select asp-for="Category" class="form-control">
                            @foreach (Category item in Model.Categories)
                            {
                                <option>@item.Name</option>
                            }
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>