@model CourseSearchingVM
@{
    ViewData["Title"] = "Index";
}

<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" asp-action="Search" method="post" >
                        <input type="text" name="search" placeholder="Type here Course Title..." />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Course", Model)
        </div>
    </div>
</div>
<!-- Course End -->